@font-face {
  font-family: 'BebasNeue';
  src: url("fonts/BebasNeueBold.ttf");
  src: url("fonts/BebasNeueBold.ttf") format("woff"), url("fonts/BebasNeueBold.ttf") format("truetype");
}

* {
  font-family: 'BebasNeue';
  font-style: normal;
  font-weight: bold;
  unicode-range: U+0400-045F, U+0490-0491, U+04B0-04B1, U+2116;
}

.container {
  border: 1px solid #ccc;
}

.newsPage {
  border-bottom: 4px double #ccc;
}

.newsHeader {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.newsHeader li {
  padding: 10px;
}

.newsHeader a {
  color: #010101;
}

.newsHeader a:hover {
  text-decoration: none;
  color: #c70000;
}

.culture-newsHeader {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.culture-newsHeader li {
  padding: 10px;
}

.culture-newsHeader a {
  color: #010101;
}

.culture-newsHeader a:hover {
  text-decoration: none;
  color: #a1845c;
}

.headLines {
  border-top: 3px double #ccc;
}

.newBG {
  background-color: #c70000;
  border-left: 1px solid #ccc;
  position: relative;
}

.newBG::before {
  content: '';
  display: block;
  position: absolute;
  top: 0;
  bottom: 0;
  right: 0px;
  width: 0.0625rem;
  height: 100%;
  border-left: 0.0625rem solid #dcdcdc;
}

#datetime {
  color: #c70000;
}

.weatherTable {
  border-top: 1px solid #eee;
  border-right: 1px solid #eee;
  text-align: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin-top: 20px;
}

.weatherTable li {
  border-left: 1px solid #eee;
  padding: 8px;
}

.weatherTable li .weatherTime,
.weatherTable li i {
  color: #ccc;
}

.newsHead {
  color: #fff !important;
  text-decoration: none;
}

.newsHead:hover {
  text-decoration: none;
}

.newsHead img {
  height: -webkit-fit-content !important;
  height: -moz-fit-content !important;
  height: fit-content !important;
}

.newsHead h4 {
  text-align: justify;
  display: -ms-grid;
  display: grid;
  letter-spacing: -2px;
}

.newsHead p {
  font-size: 16px;
  font-weight: bold;
  padding: 0;
  margin: 0;
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: end;
  display: -ms-grid;
  display: grid;
}

.subnw {
  color: #fff;
  padding-top: 20px;
  position: relative;
}

.subnw span {
  color: pink;
}

.subnw::before {
  content: '';
  height: 1px;
  width: 70%;
  position: absolute;
  background-color: #fff;
}

.sideNw {
  background-color: #eee;
  display: block;
  padding-bottom: 10px;
  margin-bottom: 10px;
}

.sideNw p {
  font-weight: bold;
  font-size: 18px;
}

.sideNw p span {
  color: rosybrown;
  text-transform: uppercase;
}

.temp .input-group-text,
.temp .form-control {
  border: none;
  border-bottom: 1px solid #ccc;
  border-radius: 0;
  background-color: #fff;
}

.temp .tempNum span.fa {
  color: yellow;
  font-size: 40px;
}

.temp .tempNum .num {
  display: -ms-grid;
  display: grid;
}

.temp .tempNum .num span {
  font-size: 18px;
}

.temp .tempNum .num span:first-child {
  color: #ccc;
}

.secNew::before {
  content: '';
  display: block;
  position: absolute;
  top: 0;
  bottom: 0;
  right: 0px;
  width: 0.0625rem;
  height: 100%;
  border-left: 0.0625rem solid #dcdcdc;
}

.secNew a {
  color: #010101;
}

.secNew a:hover {
  text-decoration: none;
  color: #010101;
}

.secNew a p span {
  font-size: 22px;
  color: #c70000;
  font-weight: bold;
}

.secNew h4 {
  color: #c70000;
}

.secNew a {
  color: #010101;
}

.secNew a:hover {
  text-decoration: none;
  color: #010101;
}

.smallNew {
  border-top: 1px solid #c70000;
  background-color: #eee;
  padding: 10px;
  margin-bottom: 15px;
}

.smallNew p span {
  font-size: 22px;
  color: #c70000;
  font-weight: bold;
}

.side a {
  color: #010101;
}

.side a:hover {
  text-decoration: none;
  color: #010101;
}

.imgNews {
  background-color: #eee;
  display: -ms-grid;
  display: grid;
}

.smallCenter {
  padding-left: 0 !important;
}

.Coronavirus {
  background-color: #eee;
}

.Coronavirus a {
  color: #052962;
}

.Coronavirus a:hover {
  text-decoration: none;
  color: #052962;
}

.Coronavirus h5 {
  color: #052962;
  font-weight: bold;
  font-size: 30px;
}

.Coronavirus .coronaCenter {
  background-color: #eee;
}

.Coronavirus .coronaCenter::after {
  content: '';
  display: block;
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0px;
  width: 0.0625rem;
  height: 100%;
  border-left: 0.0625rem solid #dcdcdc;
}

.Coronavirus .coronaCenter::before {
  content: '';
  display: block;
  position: absolute;
  top: 0;
  bottom: 0;
  right: 0px;
  width: 0.0625rem;
  height: 100%;
  border-left: 0.0625rem solid #dcdcdc;
}

.Coronavirus .coronaCenter h5 {
  color: #c70000;
}

.Coronavirus .coronaCenter img {
  width: 100%;
}

.Coronavirus .smallNewTop {
  font-size: 16px;
}

.Coronavirus .smallNewTop span {
  color: #052962;
  font-weight: bold;
}

.Coronavirus .smallNew {
  background-color: #052962;
  padding: 0;
  margin-top: 10px;
  border-top: 2px solid pink;
}

.Coronavirus .smallNew P {
  color: #fff !important;
  padding: 5px 10px;
}

.Coronavirus .smallNew span {
  color: pink;
}

.Coronavirus .smallNew img {
  width: 100%;
}

.spotlight {
  padding: 10px 15px 30px;
}

.spotlight h5 {
  font-weight: bold;
  font-size: 30px;
}

.spotlight .spotlightBg h4 {
  background-color: #eee;
  padding: 5px 10px;
  color: #c70000;
  font-weight: bold;
  margin-bottom: 15px;
}

.spotlight .spotlightBg p {
  background-color: #eee;
}

.spotlight .media {
  border-top: 1px solid #c70000;
  margin-bottom: 15px;
}

.spotlight .media img {
  width: 160px;
  height: 110px;
}

.spotlight .media .media-body {
  background-color: #eee;
  height: 110px;
  padding: 0 15px;
  position: relative;
}

.spotlight .media .media-body h5 {
  color: #c70000 !important;
  font-size: inherit !important;
}

.spotlight .media .media-body h5 span {
  font-weight: bold;
}

.spotlight .medias::after {
  content: '';
  display: block;
  position: absolute;
  top: 0;
  bottom: 0;
  right: 0px;
  width: 0.0625rem;
  height: 100%;
  border-left: 0.0625rem solid #dcdcdc;
}

.spotlight .spotlightSide {
  background-color: #eee;
  height: 400px;
}

.spotlight .spotlightSide img {
  height: 150px;
  width: 100%;
}

.spotlight .spotlightSide h4 {
  color: #c70000;
  padding: 10px 0 0 10px;
}

.spotlight .spotlightSide p {
  padding: 0 10px 10px;
}

.climate {
  background-color: #fbf6ef;
  position: relative;
}

.climate h5 {
  font-size: 27px;
  color: #000000;
  font-weight: bold;
}

.climate .climateCards {
  border-top: 3px solid #e2352d;
  margin: 10px 0;
  background-color: #efe8dd;
  height: 350px;
}

.climate .climateCards a:hover {
  text-decoration: none;
}

.climate .climateCards h4 {
  color: #052962;
  text-align: left;
  font-weight: bold;
  padding: 10px;
}

.climate .climateCards::after {
  content: '';
  display: block;
  position: absolute;
  top: 0;
  bottom: 0;
  right: 0px;
  width: 0.0625rem;
  height: 100%;
  border-left: 0.0625rem solid #dcdcdc;
}

.climate .climateCards span {
  color: #e2352d;
  font-size: 30px;
}

.borders {
  border-bottom: 3px double #ddd;
  background-image: repeating-linear-gradient(to bottom, #dcdcdc, #dcdcdc 0.0625rem, transparent 0.0625rem, transparent 0.25rem);
  background-repeat: repeat-x;
  background-position: bottom;
  background-size: 0.0625rem 0.8125rem;
  display: -ms-flexbox;
  display: -webkit-box;
  display: flex;
  bottom: 0;
  width: 100%;
  height: 1rem;
}

.part h5 {
  font-size: 27px;
  color: #000000;
  font-weight: bold;
}

.part .climateCards {
  border-top: 1px solid #c70000;
  background-color: #eee;
}

.part .climateCards a:hover {
  text-decoration: none;
}

.part .climateCards h4 {
  color: #000;
  text-align: left;
  font-weight: bold;
  padding: 10px;
}

.part .climateCards::after {
  content: '';
  display: block;
  position: absolute;
  top: 0;
  bottom: 0;
  right: 0px;
  width: 0.0625rem;
  height: 100%;
  border-left: 0.0625rem solid #dcdcdc;
}

.part .climateCards span {
  color: #c70000;
  font-size: 27px;
}

.part.row:first-child {
  height: 0 !important;
  background-color: #c70000;
}

.video {
  background-color: #000;
  color: #fff;
  padding: 15px 30px;
}

.video h5 {
  font-weight: bold;
  font-size: 30px;
  padding-left: 15px;
}

.mostViewed h5 {
  font-size: 30px;
  font-weight: bold;
}

.mostViewed table th {
  width: 50%;
}

.mostViewed table span {
  font-size: 60px;
  font-weight: bold;
}

/*****************************************************Header & Footer ************************/
/*Header*/
header,
footer {
  background-color: #052962 !important;
}

.header-text {
  color: #ffe500;
  /* color: #121212;*/
}

.header-text-heading {
  font-size: 2.125rem;
  line-height: 2.375rem;
  font-weight: 700;
}

.header-text-subheading {
  font-size: 1 rem;
  font-weight: 400;
  line-height: 1.2;
  margin-top: 0.1875rem;
}

.nav-item {
  font-size: 1.5rem;
  font-weight: 900;
  padding-top: 0.4375rem;
  padding-right: 1.25rem;
  padding-left: 0.625rem;
}

.header-btn {
  font-family: 'Guardian Text Sans Web', 'Helvetica Neue', Helvetica, Arial, 'Lucida Grande', sans-serif;
  height: 2rem;
  padding: 0.4375rem 2.125rem 0 0.75rem;
  font-size: 1rem;
  font-weight: 700;
  background-color: #ffe500;
  border-radius: 1.125rem;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  color: #052962;
  display: block;
  line-height: 1;
  margin-bottom: 0.375rem;
  margin-right: 0.625rem;
  position: relative;
  float: left;
}

.nav-link:hover {
  border-top: 0.25rem solid !important;
  border-color: #ff4e36 !important;
  -webkit-transition: all 1s ease-in-out !important;
  transition: all 1s ease-in-out !important;
}

/**********************************************************************************************/
/*Footer*/
footer {
  overflow: hidden;
}

.footer-border {
  padding-bottom: 0.375rem;
  border: 0.0625rem solid #506991;
}

.email-heading {
  font-size: 1rem;
  line-height: 1.375rem;
  font-family: 'Guardian Text Sans Web', 'Helvetica Neue', Helvetica, Arial, 'Lucida Grande', sans-serif;
  font-weight: 700;
  color: #fff;
  margin: 0.375rem 0;
}

.email-description {
  font-size: 0.875rem;
  line-height: 1.25rem;
  font-family: 'Guardian Text Sans Web', 'Helvetica Neue', Helvetica, Arial, 'Lucida Grande', sans-serif;
  border-top: 0.1875rem solid #90dcff;
  color: #fff;
  background-color: #052962;
}

.email-form {
  font-size: 0.875rem;
  line-height: 1.25rem;
  font-family: 'Guardian Text Sans Web', 'Helvetica Neue', Helvetica, Arial, 'Lucida Grande', sans-serif;
  position: relative;
}

.email-label {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

.email-label-text {
  font-size: 1rem;
  font-family: 'Guardian Text Sans Web', 'Helvetica Neue', Helvetica, Arial, 'Lucida Grande', sans-serif;
  line-height: 2.5625rem;
  color: rgba(255, 255, 255, 0.5);
  left: 1.25rem;
  position: absolute;
  pointer-events: none;
}

.email-input {
  border-right: 0;
  border-radius: 62.5rem 0 0 62.5rem;
  float: left;
  width: 62%;
  font-size: 1rem;
  line-height: 1.375rem;
  font-family: 'Guardian Text Sans Web', 'Helvetica Neue', Helvetica, Arial, 'Lucida Grande', sans-serif;
  background-color: rgba(255, 255, 255, 0.08);
  border: 0.0625rem solid #506991;
  height: 2.625rem;
  color: #fff;
  display: block;
  padding-left: 1.25rem;
  overflow: visible;
  -webkit-transition: -webkit-box-shadow 0.2s ease-in-out;
  transition: -webkit-box-shadow 0.2s ease-in-out;
  transition: box-shadow 0.2s ease-in-out;
  transition: box-shadow 0.2s ease-in-out, -webkit-box-shadow 0.2s ease-in-out;
}

.email-button {
  position: absolute;
  right: 0;
  padding-left: 0.625rem;
  border-radius: 0 62.5rem 62.5rem 0;
  border-left-width: 0;
  float: left;
  margin-right: 0;
  width: 38%;
  font-family: 'Guardian Text Sans Web', 'Helvetica Neue', Helvetica, Arial, 'Lucida Grande', sans-serif;
  color: #052962;
  height: 2.625rem;
  line-height: 2.5rem;
  background-color: #fff;
  border: 0;
  font-size: 1rem;
  display: block;
  font-weight: bold;
}

.colophon-list {
  margin: 0 1.25rem 0.75rem 0;
  width: 8.75rem;
  list-style: none;
  position: relative;
  font-size: 1rem;
  font-family: 'Guardian Text Sans Web', 'Helvetica Neue', Helvetica, Arial, 'Lucida Grande', sans-serif;
  line-height: 1.2;
}

.colophon-item {
  display: list-item;
  text-align: -webkit-match-parent;
}

.colophon-item a {
  color: #fff;
  display: inline-block;
  padding: 0.375rem 0;
  cursor: pointer;
  text-decoration: none;
  background: transparent;
}

/**********************************************header &footer ************************************/
/**************************culture************************************************/
@media (min-width: 30em) {
  head {
    font-family: 'mobileLandscape';
  }
}

@media (min-width: 46.25em) {
  head {
    font-family: 'tablet';
  }
}

@media (min-width: 61.25em) {
  head {
    font-family: 'desktop';
  }
}

@media (min-width: 71.25em) {
  head {
    font-family: 'leftCol';
  }
}

@media (min-width: 81.25em) {
  head {
    font-family: 'wide';
  }
}

body:after {
  border: 0 !important;
  clip: rect(0 0 0 0) !important;
  height: 0.0625rem !important;
  margin: -0.0625rem !important;
  overflow: hidden !important;
  padding: 0 !important;
  position: absolute !important;
  width: 0.0625rem !important;
  content: 'mobile';
}

@media (min-width: 30em) {
  body:after {
    content: 'mobileLandscape';
  }
}

@media (min-width: 46.25em) {
  body:after {
    content: 'tablet';
  }
}

@media (min-width: 61.25em) {
  body:after {
    content: 'desktop';
  }
}

@media (min-width: 71.25em) {
  body:after {
    content: 'leftCol';
  }
}

@media (min-width: 81.25em) {
  body:after {
    content: 'wide';
  }
}

.dateline {
  font-size: 0.8125rem;
  line-height: 1.125rem;
  font-family: 'Guardian Text Sans Web', 'Helvetica Neue', Helvetica, Arial, 'Lucida Grande', sans-serif;
  color: #767676;
}

@media (min-width: 46.25em) {
  .dateline {
    font-size: 0.875rem;
    line-height: 1.25rem;
  }
}

.dateline i {
  vertical-align: baseline;
}

.relative-timestamp {
  display: block;
  color: #767676;
  margin: 0;
}

.relative-timestamp span {
  display: inline-block;
}

.relative-timestamp__icon {
  vertical-align: -0.125rem;
}

ol,
ul {
  list-style-position: inside;
}

a,
button,
input[type='button'],
input[type='submit'] {
  -ms-touch-action: manipulation;
  touch-action: manipulation;
}

.should-kern body {
  text-rendering: optimizeLegibility;
  -webkit-font-feature-settings: 'kern';
  font-feature-settings: 'kern';
  -webkit-font-kerning: normal;
  font-kerning: normal;
  -webkit-font-variant-ligatures: common-ligatures;
  font-variant-ligatures: common-ligatures;
}

/**************************culture********************/
/*************** reset***************/
html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}

body {
  line-height: 1;
}

ol,
ul {
  list-style: none;
}

blockquote,
q {
  quotes: none;
}

blockquote:before,
blockquote:after,
q:before,
q:after {
  content: '';
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

/*************** typography***************/
@font-face {
  font-family: 'Guardian Headline Full';
  src: url(https://interactive.guim.co.uk/fonts/garnett/GHGuardianHeadline-Light.woff2) format("woff2"), url(https://interactive.guim.co.uk/fonts/garnett/GHGuardianHeadline-Light.woff) format("woff"), url(https://interactive.guim.co.uk/fonts/garnett/GHGuardianHeadline-Light.ttf) format("truetype");
  font-weight: 300;
  font-style: normal;
}

@font-face {
  font-family: 'Guardian Headline Full';
  src: url(https://interactive.guim.co.uk/fonts/garnett/GHGuardianHeadline-LightItalic.woff2) format("woff2"), url(https://interactive.guim.co.uk/fonts/garnett/GHGuardianHeadline-LightItalic.woff) format("woff"), url(https://interactive.guim.co.uk/fonts/garnett/GHGuardianHeadline-LightItalic.ttf) format("truetype");
  font-weight: 300;
  font-style: italic;
}

@font-face {
  font-family: 'Guardian Headline Full';
  src: url(https://interactive.guim.co.uk/fonts/garnett/GHGuardianHeadline-Regular.woff2) format("woff2"), url(https://interactive.guim.co.uk/fonts/garnett/GHGuardianHeadline-Regular.woff) format("woff"), url(https://interactive.guim.co.uk/fonts/garnett/GHGuardianHeadline-Regular.ttf) format("truetype");
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: 'Guardian Headline Full';
  src: url(https://interactive.guim.co.uk/fonts/garnett/GHGuardianHeadline-RegularItalic.woff2) format("woff2"), url(https://interactive.guim.co.uk/fonts/garnett/GHGuardianHeadline-RegularItalic.woff) format("woff"), url(https://interactive.guim.co.uk/fonts/garnett/GHGuardianHeadline-RegularItalic.ttf) format("truetype");
  font-weight: 400;
  font-style: italic;
}

@font-face {
  font-family: 'Guardian Headline Full';
  src: url(https://interactive.guim.co.uk/fonts/garnett/GHGuardianHeadline-Medium.woff2) format("woff2"), url(https://interactive.guim.co.uk/fonts/garnett/GHGuardianHeadline-Medium.woff) format("woff"), url(https://interactive.guim.co.uk/fonts/garnett/GHGuardianHeadline-Medium.ttf) format("truetype");
  font-weight: 500;
  font-style: normal;
}

@font-face {
  font-family: 'Guardian Headline Full';
  src: url(https://interactive.guim.co.uk/fonts/garnett/GHGuardianHeadline-MediumItalic.woff2) format("woff2"), url(https://interactive.guim.co.uk/fonts/garnett/GHGuardianHeadline-MediumItalic.woff) format("woff"), url(https://interactive.guim.co.uk/fonts/garnett/GHGuardianHeadline-MediumItalic.ttf) format("truetype");
  font-weight: 500;
  font-style: italic;
}

@font-face {
  font-family: 'Guardian Headline Full';
  src: url(https://interactive.guim.co.uk/fonts/garnett/GHGuardianHeadline-Semibold.woff2) format("woff2"), url(https://interactive.guim.co.uk/fonts/garnett/GHGuardianHeadline-Semibold.woff) format("woff"), url(https://interactive.guim.co.uk/fonts/garnett/GHGuardianHeadline-Semibold.ttf) format("truetype");
  font-weight: 600;
  font-style: normal;
}

@font-face {
  font-family: 'Guardian Headline Full';
  src: url(https://interactive.guim.co.uk/fonts/garnett/GHGuardianHeadline-SemiboldItalic.woff2) format("woff2"), url(https://interactive.guim.co.uk/fonts/garnett/GHGuardianHeadline-SemiboldItalic.woff) format("woff"), url(https://interactive.guim.co.uk/fonts/garnett/GHGuardianHeadline-SemiboldItalic.ttf) format("truetype");
  font-weight: 600;
  font-style: italic;
}

@font-face {
  font-family: 'Guardian Headline Full';
  src: url(https://interactive.guim.co.uk/fonts/garnett/GHGuardianHeadline-Bold.woff2) format("woff2"), url(https://interactive.guim.co.uk/fonts/garnett/GHGuardianHeadline-Bold.woff) format("woff"), url(https://interactive.guim.co.uk/fonts/garnett/GHGuardianHeadline-Bold.ttf) format("truetype");
  font-weight: 700;
  font-style: normal;
}

@font-face {
  font-family: 'Guardian Headline Full';
  src: url(https://interactive.guim.co.uk/fonts/garnett/GHGuardianHeadline-BoldItalic.woff2) format("woff2"), url(https://interactive.guim.co.uk/fonts/garnett/GHGuardianHeadline-BoldItalic.woff) format("woff"), url(https://interactive.guim.co.uk/fonts/garnett/GHGuardianHeadline-BoldItalic.ttf) format("truetype");
  font-weight: 700;
  font-style: italic;
}

@font-face {
  font-family: 'Guardian Headline Full';
  src: url(https://interactive.guim.co.uk/fonts/garnett/GHGuardianHeadline-Black.woff2) format("woff2"), url(https://interactive.guim.co.uk/fonts/garnett/GHGuardianHeadline-Black.woff) format("woff"), url(https://interactive.guim.co.uk/fonts/garnett/GHGuardianHeadline-Black.ttf) format("truetype");
  font-weight: 900;
  font-style: normal;
}

@font-face {
  font-family: 'Guardian Headline Full';
  src: url(https://interactive.guim.co.uk/fonts/garnett/GHGuardianHeadline-BlackItalic.woff2) format("woff2"), url(https://interactive.guim.co.uk/fonts/garnett/GHGuardianHeadline-BlackItalic.woff) format("woff"), url(https://interactive.guim.co.uk/fonts/garnett/GHGuardianHeadline-BlackItalic.ttf) format("truetype");
  font-weight: 900;
  font-style: italic;
}

@font-face {
  font-family: 'Guardian Titlepiece';
  src: url(https://interactive.guim.co.uk/fonts/garnett/GTGuardianTitlepiece-Bold.woff2) format("woff2"), url(https://interactive.guim.co.uk/fonts/garnett/GTGuardianTitlepiece-Bold.woff) format("woff"), url(https://interactive.guim.co.uk/fonts/garnett/GTGuardianTitlepiece-Bold.ttf) format("truetype");
  font-weight: 700;
  font-style: normal;
}

@font-face {
  font-family: 'Guardian Titlepiece';
  src: url(https://interactive.guim.co.uk/fonts/garnett/GTGuardianTitlepiece-Bold.woff2) format("woff2"), url(https://interactive.guim.co.uk/fonts/garnett/GTGuardianTitlepiece-Bold.woff) format("woff"), url(https://interactive.guim.co.uk/fonts/garnett/GTGuardianTitlepiece-Bold.ttf) format("truetype");
  font-weight: 700;
  font-style: normal;
}

@font-face {
  font-family: 'Guardian Headline Full';
  src: url(https://interactive.guim.co.uk/fonts/garnett/GHGuardianHeadline-Regular.woff2) format("woff2"), url(https://interactive.guim.co.uk/fonts/garnett/GHGuardianHeadline-Regular.woff) format("woff"), url(https://interactive.guim.co.uk/fonts/garnett/GHGuardianHeadline-Regular.ttf) format("truetype");
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: 'Guardian Titlepiece';
  src: url("https://interactive.guim.co.uk/fonts/garnett/GTGuardianTitlepiece-Bold.woff2") format("woff2"), url("https://interactive.guim.co.uk/fonts/garnett/GTGuardianTitlepiece-Bold.woff") format("woff"), url("https://interactive.guim.co.uk/fonts/garnett/GTGuardianTitlepiece-Bold.ttf") format("truetype");
  font-style: normal;
}

/*************** guardian reset***************/
html {
  -ms-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
  font-family: 'Guardian Headline Full', Georgia, 'Times New Roman', Times, serif;
}

body {
  margin: 0;
}

article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
main,
nav,
section,
summary {
  display: block;
}

audio,
canvas,
progress,
video {
  display: inline-block;
  vertical-align: baseline;
}

audio:not([controls]) {
  display: none;
  height: 0;
}

[hidden],
template {
  display: none;
}

a {
  background: transparent;
}

a:active,
a:hover {
  outline: 0;
}

abbr[title] {
  border-bottom: 0.0625rem dotted;
}

b,
strong {
  font-weight: bold;
}

dfn {
  font-style: italic;
}

small {
  font-size: 80%;
}

sub,
sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline;
}

sup {
  top: -0.5em;
}

sub {
  bottom: -0.25em;
}

img {
  border: 0;
}

svg:not(:root) {
  overflow: hidden;
}

figure {
  margin: 1em 0;
}

hr {
  -webkit-box-sizing: content-box;
          box-sizing: content-box;
  height: 0;
}

pre {
  overflow: auto;
}

code,
kbd,
pre,
samp {
  font-family: monospace, monospace;
  font-size: 1em;
}

button,
input,
optgroup,
select,
textarea {
  color: inherit;
  font: inherit;
  margin: 0;
  -webkit-font-smoothing: antialiased;
}

button {
  overflow: visible;
}

button,
select {
  text-transform: none;
}

.button {
  outline: 0;
}

button,
html input[type='button'],
input[type='reset'],
input[type='submit'] {
  -webkit-appearance: button;
  cursor: pointer;
}

button[disabled],
html input[disabled] {
  cursor: default;
}

button::-moz-focus-inner,
input::-moz-focus-inner {
  border: 0;
  padding: 0;
}

input {
  line-height: normal;
}

input[type='checkbox'],
input[type='radio'] {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  padding: 0;
}

input[type='number']::-webkit-inner-spin-button,
input[type='number']::-webkit-outer-spin-button {
  height: auto;
}

input[type='search'] {
  -webkit-appearance: textfield;
  -webkit-box-sizing: content-box;
          box-sizing: content-box;
}

input[type='search']::-webkit-search-cancel-button,
input[type='search']::-webkit-search-decoration {
  -webkit-appearance: none;
}

legend {
  border: 0;
  padding: 0;
}

textarea {
  overflow: auto;
}

optgroup {
  font-weight: bold;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

td,
th {
  padding: 0;
}

html {
  overflow-y: scroll;
}

html.iframed {
  overflow-y: auto;
}

html.iframed--overflow-hidden {
  overflow: hidden;
}

body {
  background-color: #ffffff;
}

.is-modern .has-membership-access-requirement {
  visibility: hidden !important;
}

::-moz-selection {
  background: #ffe500;
  color: #121212;
}

::selection {
  background: #ffe500;
  color: #121212;
}

head {
  font-family: 'mobile';
}

@media (min-width: 30em) {
  head {
    font-family: 'mobileLandscape';
  }
}

@media (min-width: 46.25em) {
  head {
    font-family: 'tablet';
  }
}

@media (min-width: 61.25em) {
  head {
    font-family: 'desktop';
  }
}

@media (min-width: 71.25em) {
  head {
    font-family: 'leftCol';
  }
}

@media (min-width: 81.25em) {
  head {
    font-family: 'wide';
  }
}

body:after {
  border: 0 !important;
  clip: rect(0 0 0 0) !important;
  height: 0.0625rem !important;
  margin: -0.0625rem !important;
  overflow: hidden !important;
  padding: 0 !important;
  position: absolute !important;
  width: 0.0625rem !important;
  content: 'mobile';
}

@media (min-width: 30em) {
  body:after {
    content: 'mobileLandscape';
  }
}

@media (min-width: 46.25em) {
  body:after {
    content: 'tablet';
  }
}

@media (min-width: 61.25em) {
  body:after {
    content: 'desktop';
  }
}

@media (min-width: 71.25em) {
  body:after {
    content: 'leftCol';
  }
}

@media (min-width: 81.25em) {
  body:after {
    content: 'wide';
  }
}

.dateline {
  font-size: 0.8125rem;
  line-height: 1.125rem;
  font-family: 'Guardian Text Sans Web', 'Helvetica Neue', Helvetica, Arial, 'Lucida Grande', sans-serif;
  color: #767676;
}

@media (min-width: 46.25em) {
  .dateline {
    font-size: 0.875rem;
    line-height: 1.25rem;
  }
}

.dateline i {
  vertical-align: baseline;
}

.relative-timestamp {
  display: block;
  color: #767676;
  margin: 0;
}

.relative-timestamp span {
  display: inline-block;
}

.relative-timestamp__icon {
  vertical-align: -0.125rem;
}

ol,
ul {
  list-style-position: inside;
}

a,
button,
input[type='button'],
input[type='submit'] {
  -ms-touch-action: manipulation;
  touch-action: manipulation;
}

html {
  font-family: 'Guardian Text Egyptian Web', Georgia, serif;
  -moz-osx-font-smoothing: grayscale;
  -webkit-font-smoothing: antialiased;
}

body {
  line-height: 1.5;
  color: #121212;
}

html,
body {
  text-rendering: optimizeSpeed;
}

.should-kern body {
  text-rendering: optimizeLegibility;
  -webkit-font-feature-settings: 'kern';
  font-feature-settings: 'kern';
  -webkit-font-kerning: normal;
  font-kerning: normal;
  -webkit-font-variant-ligatures: common-ligatures;
  font-variant-ligatures: common-ligatures;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0;
}

blockquote {
  margin: 0;
}

p {
  margin-top: 0;
  margin-bottom: 0.5rem;
}

h3 {
  font-size: 1.0625rem;
  line-height: 1.5rem;
  font-family: 'Guardian Text Egyptian Web', Georgia, serif;
  font-weight: normal;
  margin-bottom: 0.4375rem;
}

/*************** variables ***************/
/*************** helper-classes-placeholders ***************/
.default-card-culture {
  background-color: #fbf6ef;
  color: #121212;
  line-height: 1.5;
  border: none;
  margin-bottom: 10px;
  padding: 5px 0 12px 5px;
}

.default-card-culture a {
  color: #a1845c;
  text-decoration: none;
  font-weight: bold;
  text-transform: capitalize;
  font-size: 20px;
}

.default-card-culture span {
  color: #6b5840;
  font-weight: 500;
  text-transform: capitalize;
}

.default-card-culture span::before {
  content: '/';
  font-weight: bold;
  color: #a1845c;
}

.default-card-culture article {
  font-size: smaller;
}

.default-card-culture .comment {
  color: #999999;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: flex-end;
}

.section-header {
  font-size: 1.5rem;
  line-height: 1.6875rem;
  font-family: 'Guardian Headline Full ', Georgia, serif;
  font-weight: normal;
  font-weight: 700;
  padding-bottom: 0.25rem;
  color: #121212;
}

.blackbtn, .whitebtn {
  border: 1px solid black;
  background-color: #121212;
  border-radius: 15px;
  color: white;
  padding: 5px;
}

.card-border-top-brown {
  border-top: 1px solid #a1845c;
}

.card-border-top-grey {
  border-top: 1px solid #dcdcdc;
}

.cards-padding-container {
  padding: 10px;
}

@media screen and (min-width: 576px) {
  .card-border-left-grey {
    border-left: 1px solid #dcdcdc;
  }
}

.treats__list-item a {
  color: #121212;
  background-color: #fff;
  border-color: #dcdcdc;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  display: inline-block;
  vertical-align: top;
  font-weight: 400;
  border-width: 0.0625rem;
  border-style: solid;
  border-right-style: none;
  border-bottom-style: none;
  text-decoration: none;
  max-width: 18.75rem;
  line-height: 0.75rem;
  padding: 0.1875rem 0 0.125rem 0.375rem;
  width: 11.875rem;
}

.ml-20 {
  margin-left: 20px;
}

.mb-20 {
  margin-bottom: 20px;
}

.mx-neg15 {
  margin: 0 -15px;
}

#hide {
  color: #767676;
  text-decoration: none;
}

#hide:hover {
  color: #121212;
}

/*************** main-container ***************/
#main-container {
  border: 0.066px solid #dcdcdc;
  font-family: 'Guardian Headline Full';
}

/*************** cards ***************/
/*************** section-header ***************/
.section-header {
  font-size: 1.7rem;
  font-weight: 900;
  padding-left: 10px;
  padding-top: 10px;
}

/*************** banner ***************/
.default-banner-culture-purple {
  background-color: #bb3b80;
  color: white;
  margin: 10px -15px;
}

.default-banner-culture-purple a {
  font-size: 1.5rem;
  color: white;
}

.default-banner-culture-purple .pinkish {
  color: #7d0068;
}

.default-banner-culture-purple span {
  color: #fec8d3;
  font-size: 1.5rem;
}

.default-banner-culture-purple h2 {
  padding-left: 25px;
  font-size: 1.5rem;
  font-weight: bold;
}

.default-banner-culture-black {
  background-color: #333333;
  color: white;
  margin: 10px -15px;
}

.default-banner-culture-black a {
  font-size: 1.5rem;
  color: white;
  font-weight: bold;
}

.default-banner-culture-black span {
  color: white;
  background-color: white;
  font-size: 1.5rem;
  color: #333333;
}

.default-banner-culture-pastel {
  background-color: #e7d4b9;
  color: black;
  margin: 10px -15px;
  padding: 15px 0;
}

.default-banner-culture-pastel a {
  font-size: 1.5rem;
  color: black;
  font-weight: bold;
}

.default-banner-culture-pastel h2 {
  padding-left: 25px;
  font-size: 1.5rem;
  font-weight: bold;
}

.default-banner-culture-pastel h2:hover {
  text-decoration: underline;
}

@media screen and (max-width: 992px) {
  .default-banner-culture-pastel h2 {
    color: #6b5840;
  }
}

/*************** buttons ***************/
.whitebtn {
  color: black;
  background-color: white;
}

/**************************culture********************/
/*# sourceMappingURL=main.css.map */